<a href="https://colab.research.google.com/github/niharikaathakur/Python_For_Data_Engineers/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
print("Hello Data Engineering")

Hello Data Engineering

In [6]:
#print
greeting = "Hello , Welcome to Python Programming"
print(greeting)

Hello , Welcome to Python Programming

In [7]:
#Variables in Python
int_var = 7
float_var = 3.14
str_var = "Hello World"
bool_var = True

In [8]:
print(int_var)

7

In [11]:
#Operators in python

#Arithmetic Operators
num1 = 7
num2 = 10

sum = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2

print(sum)
print(sub)
print(mul)
print(div)

17
-3
70
0.7

In [13]:
#Comparison Operator

var_eql = num1==num2
print(var_eql)

False

In [14]:
not_eql = num1!=num2
print(not_eql)

True

In [17]:
#Logical Operators
print(True and False)
print(True or False)

False
True

Control Statements

In [18]:
num = 7
if num>10:
  print("Greater")
else:
  print("Smaller")

Smaller

In [19]:
for i in range(5):
  print(i)

0
1
2
3
4

In [20]:
number = 5
while number>0:
  print(number)
  number = number - 1

5
4
3
2
1